:root {
  box-sizing: border-box;
  --gray-gray-0: #fff;
  --gray-gray-100: #f7f7f7;
  --gray-gray-400: #cacaca;
  --gray-gray-600: #606060;
  --gray-gray-900: #000;
  --blue-primary-blue: #0098ea;
  --blue-light-blue: #34b8ff;
  --error-error-red: #f04438;
  --error-error-light-red: #fda29b;
  --font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* #region Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: var(--font-family);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: var(--font-family);
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* #endregion--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

/* #region Header */
.header {
  display: flex;
  background: var(--gray-gray-0);
}

.header__row {
  width: 1920px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 240px 12px 240px;
  margin-bottom: 72px;
}

.header__logo {
}

.header__logo > img {
  width: 105px;
  height: 40px;
}

.header__logo_button > img {
  width: 199px;
  height: 68px;
}

.header__menu {
  display: flex;
}

.header__list {
  width: 438px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__list > li > a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--gray-gray-600);
}
/* #endregion */

/* #region Trading */
.trading {
  display: flex;
  justify-content: center;
}

.trading__row {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 492px;
  margin-bottom: 238px;
}

.trading__block {
  display: flex;
  flex-direction: column;
  margin-right: 41px;
}

.trading__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 90px;
  line-height: 107%;
  color: var(--gray-gray-900);
}

.trading__title > span {
  background: linear-gradient(134deg, #4891fd 0%, #65b8fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trading__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: var(--gray-gray-900);
  margin-top: 32px;
  margin-bottom: 64px;
}

.trading__button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trading__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trading__follower:nth-child(2) {
  position: relative;
  right: 30px;
}

.trading__follower:nth-child(3) {
  position: relative;
  right: 60px;
}

.trading__video {
  width: 766px;
  height: 492px;
}
/* #endregion */

/* #region Start */
.start {
  display: flex;
  justify-content: center;
}

.start__row {
  width: 1440px;
  height: 296px;
  margin-bottom: 220px;
}

.start__icon {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.start__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  color: var(--gray-gray-900);
  margin-bottom: 8px;
}

.start__title-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: var(--gray-gray-600);
}

.start__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.start__item {
  position: relative;
}

.start__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 188.75px;
  top: 31px;
  right: 0;
  width: 311px;
  height: 1px;
  stroke-width: 2px;
  background-color: var(--Gray-Gray-400, #cacaca);
}

.start__subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--gray-gray-900);
  margin-left: 12px;
}

.start__item-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--gray-gray-900);
  width: 316px;
  height: 168px;
}
/* #endregion */

/* #region Bot */
.bot {
  display: flex;
  flex-direction: column;
}

.bot__row {
  background: linear-gradient(134deg, #4891fd 0%, #65b8fd 100%);
  margin-bottom: 220px;
  display: flex;
}

.bot__item {
  width: 1440px;
  height: 1033px;
  margin: 0 auto;
}

.bot__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  width: 1440px;
  height: 104px;
  margin-bottom: 40px;
}

.bot__title > h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  color: var(--gray-gray-0);
  width: 562px;
  height: 104px;
}

.bot__title > img {
  cursor: pointer;
}
/* #endregion */

/* #region Footer */
.footer {
  display: flex;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.footer__block {
  display: flex;
  margin: 0 auto;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin: 32px 0 23px 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  width: 498px;
  height: 28px;
  margin-bottom: 32px;
}

.footer__list > li > a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--gray-gray-600);
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-gray-400);
}
/* #endregion */

/* #region Popup Form*/
.popup {
  margin: 0 auto;
  display: none;
  /* Todo  logic to call JS*/
}

.popup__body {
  border-radius: 21px;
  padding: 32px;
  width: 712px;
  height: 572px;
  background: var(--gray-gray-0);
  display: flex;
}

.popup__content {
  width: 648px;
  height: 508px;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.popup__row {
  display: flex;
  flex-direction: column;
}

.popup__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  color: var(--gray-gray-900);
  margin-bottom: 16px;
}

.popup__title > span {
  background: linear-gradient(134deg, #4891fd 0%, #65b8fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup__form {
}

.popup__item {
  width: 648px;
  height: 88px;
  margin-top: 16px;
}

.popup__item > p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-gray-900);
  margin-bottom: 8px;
}

.popup__input {
  border-radius: 4px;
  padding: 18px 20px;
  width: 648px;
  height: 58px;
  background: var(--gray-gray-100);
}

.popup__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  padding: 18px 32px;
  width: 648px;
  height: 68px;
  background: var(--blue-primary-blue);
  margin-top: 32px;
}

.popup__btn > p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--gray-gray-0);
  margin-left: 8px;
}
/* #endregion */

/* #region Order Form */
.popup__oder {
  display: none;
}
.oder__body {
}
.oder__content {
}
.oder__row {
}
.oder__icon {
}
.oder__text {
}
.oder__image {
}
.image__first {
}
.popup__signUp {
}
/* #endregion */
